
*.apk
*.ap_
*.aab
*.dex
*.class

*.iml
*.log
*.json
*.kotlin_built

.gradle/
*/build/
gradle-daemon-jvm.properties
gradle/

.idea/
.captures/
.externalNativeBuild/
.cxx/
navEditor.xml
assetWizardSettings.xml
local.properties
*.swp
*.swo

.kotlin/